@model BugTrackerMVC.Models.Ticket

@{
    ViewData["Title"] = "Create";
}

<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted">@ViewContext.RouteData.Values["controller"]!.ToString()</span> / @ViewBag.Title</h4>
    <div class="row">
        <div class="col-sm-12 col-md-10 col-xl-8">
            <div class="card mb-4">
                <div class="card-body">
                    <form asp-action="Create" id="form" asp-controller="Tickets" onsubmit="handleSubmit()">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input asp-for="SubmitterUserId" type="hidden" />
                        <input asp-for="ArchivedByProject" type="hidden" />
                        <input asp-for="TicketStatusId" type="hidden" />
                        <input asp-for="Archived" type="hidden" />
                        <input asp-for="Created" type="hidden" />
                        <input asp-for="Updated" type="hidden" />
                        <input asp-for="Description" type="hidden" id="textBox" />

                        <div class="form-group mb-3">
                            <label asp-for="Title" class="control-label">Title</label>
                            <input asp-for="Title" class="form-control" placeholder="Enter a title"/>
                            <span asp-validation-for="Title" class="text-danger"></span>
                        </div>

                        <label>Description</label>
                        <div class="form-group mb-3 rounded bg-white" id="editor">
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                        @*<div class="form-group">
                            <label asp-for="Created" class="control-label"></label>
                            <input asp-for="Created" class="form-control" />
                            <span asp-validation-for="Created" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Updated" class="control-label"></label>
                            <input asp-for="Updated" class="form-control" />
                            <span asp-validation-for="Updated" class="text-danger"></span>
                        </div>
                        <div class="form-group form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" asp-for="Archived" /> @Html.DisplayNameFor(model => model.Archived)
                            </label>
                        </div>
                        <div class="form-group form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" asp-for="ArchivedByProject" /> @Html.DisplayNameFor(model => model.ArchivedByProject)
                            </label>
                        </div>*@
                        <div class="form-group mb-3">
                            <label asp-for="ProjectId" class="control-label">Project</label>
                            <select asp-for="ProjectId" class ="form-control" asp-items="ViewBag.ProjectId"></select>
                        </div>
                        <div class="form-group mb-3">
                            <label asp-for="TicketTypeId" class="control-label">Ticket Type</label>
                            <select asp-for="TicketTypeId" class ="form-control" asp-items="ViewBag.TicketTypeId"></select>
                        </div>
                        @*
                        <div class="form-group">
                            <label asp-for="TicketStatusId" class="control-label"></label>
                            <select asp-for="TicketStatusId" class ="form-control" asp-items="ViewBag.TicketStatusId"></select>
                        </div>*@
                        <div class="form-group mb-3">
                            <label asp-for="TicketPriorityId" class="control-label">Ticket Priority</label>
                            <select asp-for="TicketPriorityId" class ="form-control" asp-items="ViewBag.TicketPriorityId"></select>
                        </div>
                        <div class="form-group mb-3">
                            <label asp-for="DeveloperUserId" class="control-label">Developer</label>
                            <select asp-for="DeveloperUserId" class ="form-control" asp-items="ViewBag.DeveloperUserId">
                                <option value="">Unassigned</option>
                            </select>
                        </div>
                        <div class="form-group row justify-content-end mb-0">
                            <div class="col-md-8 pl-md-2">                                
                                <input type="submit" value="Create" class="btn btn-primary me-2" />
                                <a asp-action="AllTickets" type="button" class="btn btn-secondary">Cancel</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        let quill = new Quill('#editor', {
        theme: 'snow',
        placeholder: 'Enter a description'
        });
        function handleSubmit(){
            console.info('handleSubmit() called');
            document.getElementById('textBox').value = quill.root.innerHTML;
        };
    </script>
}
