@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="header display-4"><strong style="font-family: Impact;">Aardvark</strong></h1>
    <h3 class="display-6">Bug Tracker</h3>
    <div class="row">
        <div class="col-10 m-5 align-content-center"><img class="img-fluid image-light ps-5" src="/img/aardvarkLogoGray300.png" maxwidth="250" alt="Aardvark Logo" /></div>
        <h3>Built with</h3>
    </div>
    <div class="row">
        <div class="col">
            <i class="devicon-dotnetcore-plain colored devIconSize"></i>            
            <i class="devicon-csharp-plain colored devIconSize"></i>
            <i class="devicon-postgresql-plain colored devIconSize"></i>
            <i class="devicon-javascript-plain colored devIconSize"></i>
            <i class="devicon-html5-plain colored devIconSize"></i>
            <i class="devicon-css3-plain colored devIconSize"></i>
            <i class="devicon-bootstrap-plain colored devIconSize"></i>
        </div>
    </div>
</div>
