@{
    ViewData["Title"] = "Home Page";
}

<div class="container-xxl flex-grow-1 container-p-y">
    <div class="d-flex flex-column justify-content-center align-items-center">
        <div class="col-lg-8 mb-4 order-0">
            <div class="card">
                <h1 class="header display-2 text-center mt-3"><strong style="font-family: Impact;">AardvarkMVC</strong></h1>
                <h3 class="display-6 text-center">Bug Tracker</h3>
                <div class="row">
                    <div><img class="img-fluid mb-3" src="/img/landing.png" maxwidth="250" alt="Aardvark Logo" /></div>
                    <h3 class="text-center">An ASP.NET 6 MVC application</h3>
                    <h5 class="text-center">built using</h5>
                </div>
                <div class="row">
                    <div class="col text-center">
                        <i class="devicon-dotnetcore-plain colored fs-3"></i>            
                        <i class="devicon-csharp-plain colored fs-3"></i>
                        <i class="devicon-postgresql-plain colored fs-3"></i>
                        <i class="devicon-javascript-plain colored fs-3"></i>
                        <i class="devicon-html5-plain colored fs-3"></i>
                        <i class="devicon-css3-plain colored fs-3"></i>
                        <i class="devicon-bootstrap-plain colored fs-3"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
